:root {
  --main-color: rgb(3, 45, 104);
  --text-color: #ffffff;
  --h1-size: 128px;
  --h2-size: 48px;
  --h3-size: 19px;
  --h1-msize: 64px;
  --h2-msize: 32px;
  --h3-msize: 16px;
}

/* ---------------- TEAM PAGE STYLE ---------------- */
/* 메인 프로필 */
.profile-grid {
  border: 1px solid #ccc;
  margin-bottom: 180px;
}

.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.profile-image-box {
  display: flex;
  border-right: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.profile-image-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.profile-details {
  padding-left: 30px;
}

.bio-list {
  list-style: none;
  margin-top: 20px;
  line-height: 2;
}

.bio-list li a {
  text-decoration: underline;
}

/* 팀 프로젝트 & 멤버 섹션 */
.section-title {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 25px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  letter-spacing: 2px;
}

.member-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
}

.member-card {
  /* width: 350px; */
  align-items: center;
  text-align: center;
  padding: 40px;
  border-right: 1px solid #ccc;
}

.member-card:last-child {
  border-right: none; /* 마지막 카드는 오른쪽 테두리 제거 */
}

/* .member-img-placeholder {
  aspect-ratio: 3/4;
} */

.member-img-placeholder img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.member-btns a {
  font-size: 0.8rem;
  text-decoration: underline;
  margin: 0 5px;
}
